h1,h2,h3,h4,nav,footer{
    font-family: "Trebuchet MS","Lucia Grande",Tahoma,sans-serif;   
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    background-color: rgb(33, 54, 66);
}

main{
    background-color: white;
    margin-top: 1em;
    margin-right: 4em;
    margin-bottom: 1em;
    margin-left: 4em;
    padding: 0.5em;
}

h1{
    font-size: 1.5rem;
}

h2{
    font-size: 0.75rem;
}

h3{
    font-size: 1em;
    border-bottom: solid 1pt rgb(153, 153, 153);
    margin: 0 0 0.5em 0;
}

p{
    font-size: 1rem;
    margin-top: 0em;
    margin-right: 0em;
    margin-bottom: 0.5rem;
    margin-left: 0em;
    letter-spacing: 1px;
}

nav{
    font-size: 1.125rem;
    background-color: rgb(61, 98, 113);
    padding: 0.25em;
}

nav ul li{
    list-style: none;
    display: inline;
}

nav a{
    padding: 0.25em;
}

a:link {
    font-weight: bold;
    color: rgb(71, 179, 215);
}

a:visited {
    color: rgb(187, 120, 255);
}

a:hover {
    background-color: rgb(255, 255, 204);
}

.titulo {
    font-size: 0.875rem;
    color: #72B896;
    font-style: italic;
}

figure {
    margin: 0.5em 0em 0.5em 0em;
}

figure img {
    padding: 0.25em;
    border: solid 1.5px #999999;
}

figure div {
    margin: 0.25em 0em 2em 0em;
    padding: 0.5em;
    width: 500px;
    border: solid 1.5px #999999;
    border-radius: 4px;
    background: linear-gradient(gray, white);
}

figure div p {
    font-size: 70%;
    margin: 0;
}

figure div img {
    padding: 0;
    border: 0;
}

#revisiones {
    margin-top: 1em;
}

#revisiones div {
    border-bottom: dashed 1pt #999999;
    margin-bottom: 1.25em;
}

header, footer {
    color: white;
    background-color: #3D6271;
    margin: 0em 0em 0.5em 0em;
}