/* estilo.css - ejercicio1 */

/* 1. reset parcial para elementos indicados + tipografía general */
h1, h2, h3, p, body, div {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Helvetica, sans-serif;
}

/* 2. box-sizing global */
* {
  box-sizing: border-box;
}

/* cuerpo */
body {
  background: #ffffff; /* 3. blanco */
  color: #222;
  font-size: 0.9em; /* 6. p y body 0.9em */
  line-height: 1.4;
}

/* h1: 4. tamaño 1.8em y márgenes/paddings según imagen */
article h1 {
  font-size: 1.8em;
  margin: 0.25em 0;      /* aproximación a la imagen (margen) */
  padding: 0.5em 0.8em;  /* aproximación al padding mostrado */
  font-weight: 700;
  color: #111;
  border-bottom: 3px solid #ff8800;
  display: inline-block;
}

/* h2: 5. tamaño 1.2em y margen como imagen (aprox) */
article h2 {
  font-size: 1.2em;
  margin: 0.6em 0 0.3em 0;
  color: #111;
}

/* p: 6 y 7 */
article p, body p {
  font-size: 0.9em;
  margin-bottom: 1em; /* 7. margen inferior 1em */
  color: #333;
}

/* 8. article fondo, ancho, márgenes, padding inferior */
article {
  background: #f5f5f5;
  width: 70%;
  margin: 3em auto 0 auto; /* margen superior 3em, laterales auto */
  padding: 1em 1.2em 1em 1.2em; /* padding general (incluye padding inferior 1em) */
  overflow: visible;
}

/* 9. todos los div dentro de article clear: right */
article div {
  clear: right;
}

/* 10. figure pos relativa y flota a la izquierda */
article .information figure {
  position: relative;
  float: left;
  width: 170px;            /* ancho reservado para la miniatura */
  margin-right: 1em;
}

/* imagen dentro del figure responsiva */
article .information figure img {
  display: block;
  width: 170px;
  height: auto;
}

/* 11. figcaption: ancho 143px, fondo negro, letras blancas, altura 20px, posición absoluta */
article .information figure figcaption {
  width: 143px;
  background: #000;
  color: #fff;
  height: 20px;
  position: absolute;
  top: 130px;       /* "tope" 130px según instrucción */
  left: 0;
  line-height: 20px;
  padding-right: 0.5em; /* padding derecho 0.5em, demás 0 */
  padding-left: 0.3em;
  font-size: 0.9em;
  box-sizing: border-box;
}

/* 12. .overimage: posición absoluta con left:1px y top:3px (interpretado) */
article .information figure .overimage {
  position: absolute;
  left: 1px;
  top: 3px;            /* interpretado como "fondo de 3px" -> top:3px */
  width: 70px;
  height: auto;
  z-index: 5;
}

/* 13. .information overflow:auto y borde superior naranja */
.information {
  overflow: auto;                      /* 13. overflow:auto */
  border-top: 1px solid #ff8800;      /* borde superior 1px #ff8800 */
  padding: 1.2em 1em;                 /* espacio interno para texto a la derecha */
  margin-bottom: 1.8em;
  background: rgba(255,255,255,0.6);
}

/* ajuste del contenido textual a la derecha del figure (espacio reservado) */
.information > div {
  margin-left: 190px;    /* espacio para la figura a la izquierda */
}

/* 14. .linkbutton estilo */
.linkbutton {
  background: #FF8800;
  color: #fff;
  text-decoration: none;
  font-size: 0.75em;
  float: right;
  padding: 0.8em;
  margin-right: 1em;
  display: inline-block;
  border-radius: 2px;
}

/* botón accesible en pantallas pequeñas: que no rompa diseño */
@media (max-width: 600px) {
  article { width: 95%; margin: 1em auto; }
  article .information figure { float: none; width: 100%; margin: 0 0 0.5em 0; }
  .information > div { margin-left: 0; }
  .linkbutton { float: none; display: inline-block; margin: 0.8em 0 0 0; }
}

/* 15. footer background, color, min-width, margin-top, padding */
footer {
  background: #474747;   /* 15 */
  color: #cbcbcb;
  min-width: 100%;
  margin-top: 2em;
  padding: 1em;
  overflow: hidden;
}

/* 16. h2 dentro del footer color */
footer h2 {
  color: #a4a1a1; /* 16 */
  margin-bottom: 0.6em;
}

/* 17. .footer margen lateral 1.5em, flotante izquierda, borde superior naranja */
.footer {
  margin: 0 1.5em;
  float: left;
  border-top: 1px solid #ff8800;
  max-width: 100%;
  padding-top: 0.8em;
  width: 22%;
  box-sizing: border-box;
}

/* 18. imágenes dentro de la clase footer */
.footer img {
  margin: 3px;
  width: 45px;
  height: 45px;
  object-fit: cover;
}

/* 19. .footerSection margen derecho 1.5em, padding 0.26em, overflow hidden, min-width 70%, borde superior naranja */
.footerSection {
  margin-right: 1.5em;
  padding: 0.26em;
  overflow: hidden;
  min-width: 70%;
  border-top: 1px solid #ff8800;
  float: left;
  box-sizing: border-box;
}

/* pequeñas mejoras visuales */
article .information h2 { margin-top: 0; }
.article-footer-clear { clear: both; }
